@import 'reset-css'
@import './header/header'
@import '../fonts/mistral/index.css'

body
    background-color: #191919

.main__image
    display: block
    width: 400px
    height: 400px
    margin: auto

.main__header
    font-size: 80px
    font-family: 'mistral', sans-serif
    text-align: center
    color: #f2047e

.main__sub-header
    font-size: 60px
    font-family: 'mistral', sans-serif
    text-align: center
    color: #f2047e

.main__list 
    display: block
    margin-top: 20px
    margin-left: 33%
    text-align: left
    &-item
        font-size: 40px
        font-family: 'mistral', sans-serif
        color: #11bae1