@import 'reset-css'
@import './fonts';
@import './header/header'

body
    background-color: #e2e2e2
.bgimage
    width: 300px
    height: 300px
    border: 1px solid red
    background-image: url('../img/img2.png')
    background-position: center
p
    font-family: 'overtheseas', sans-serif